*{
    margin: 0px;
    padding: 0px;
}

.mainMarioBg {
    width: 100%;
    height: 100vh;
    background-image: url(bg.png);
    background-size: 100% 100%;
    position: relative;
}

.mario img{
    position: absolute;
    bottom: 55px;
    animation-name: mariorun;
    animation-duration: 6s;
    animation-iteration-count: 5;
    animation-timing-function: linear;

}

@keyframes mariorun {
    0%{left: 0%;}
    100% {left: 88%;}
}

.sonic img{
    position: absolute;
    bottom: 55px;
    animation-name: sonicrun;
    animation-duration: 6s;
    animation-iteration-count: 5;
    animation-timing-function: linear;

}

@keyframes sonicrun {
    0%{right: 0%;}
    100% {right: 88%;}
}

h2{
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    position: absolute;
    left:45%;
    top:20%;
    animation: mariotext 4s linear;
    animation-iteration-count: 5;
    animation-delay: 1s;

}

@keyframes mariotext {
    0%{font-size: 2em;}
    100% {font-size: 4em; left: 40%;}
}

